namespace:
  name: staging

replicaCount: 3

image:
  repository: relyonlyurself/first-repo
  tag: latest
  pullPolicy: IfNotPresent

containerPort: 80

resources:
  requests:
    memory: 90Mi
    cpu: 300m
  limits:
    memory: 128Mi
    cpu: 500m

livenessProbe:
  path: /healthz
  port: 80

readinessProbe:
  path: /readyz
  port: 80

dockerconfigjson: ewogICJhdXRocyI6IHsKICAgICJodHRwczovL2luZGV4LmRvY2tlci5pby92MS8iOiB7CiAgICAgICJhdXRoIjogImEyaGhiR1ZrYm1WcWFUSTFRR2R0WVdsc0xtTnZiVHBqYjJSbFluVnBiR1F5TlE9PSIKICAgIH0KICB9Cn0KCg==
