namespace:
  name: prod

replicaCount: 5

image:
  repository: relyonlyurself/first-repo
  tag: latest
  pullPolicy: Always

containerPort: 80

resources:
  requests:
    memory: 128Mi
    cpu: 350m
  limits:
    memory: 256Mi
    cpu: 500m

livenessProbe:
  path: /healthz
  port: 3111

readinessProbe:
  path: /readyz
  port: 3111
dockerconfigjson: ewogICJhdXRocyI6IHsKICAgICJodHRwczovL2luZGV4LmRvY2tlci5pby92MS8iOiB7CiAgICAgICJhdXRoIjogImEyaGhiR1ZrYm1WcWFUSTFRR2R0WVdsc0xtTnZiVHBqYjJSbFluVnBiR1F5TlE9PSIKICAgIH0KICB9Cn0KCg==
